Package: xyz.skitty.sixls
Name: Six (LS)
Depends: mobilesubstrate, preferenceloader, firmware (>= 11.0), firmware(>= 12.2) | org.swift.libswift (>= 5.0)
Version: 1.1
Architecture: iphoneos-arm
Description: iOS 6 Style Lock Screen!
Depiction: https://skitty.xyz/repo/depictions/xyz.skitty.sixls
SileoDepiction: https://skitty.xyz/repo/depictions/xyz.skitty.sixls/sileo.json
Icon: https://skitty.xyz/repo/icons/xyz.skitty.sixls.png
Maintainer: Skitty
Author: Skitty
Section: Tweaks
