Package: xyz.skitty.sixls
Name: Six (LS)
Depends: mobilesubstrate, preferenceloader, firmware (>= 11.0)
Version: 1.0.2
Architecture: iphoneos-arm
Description: iOS 6 Style Lock Screen!
Maintainer: Skitty
Author: Skitty
Section: Tweaks
