<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>SIXHeader</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.sixls</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sixls.prefschanged</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Function</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.sixls</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sixls.prefschanged</string>
			<key>key</key>
			<string>disableHome</string>
			<key>label</key>
			<string>Disable Home Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.sixls</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sixls.prefschanged</string>
			<key>key</key>
			<string>militaryTime</string>
			<key>label</key>
			<string>24 Hour Time</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.sixls</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sixls.prefschanged</string>
			<key>key</key>
			<string>lockSound</string>
			<key>label</key>
			<string>Lock Sound</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.sixls</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sixls.prefschanged</string>
			<key>key</key>
			<string>unlockSound</string>
			<key>label</key>
			<string>Unlock Sound</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.sixls</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sixls.prefschanged</string>
			<key>key</key>
			<string>chargeSound</string>
			<key>label</key>
			<string>Charge Sound</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Looks</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>slide to unlock</string>
			<key>placeholder</key>
			<string>slide to unlock</string>
			<key>defaults</key>
			<string>xyz.skitty.sixls</string>
			<key>label</key>
			<string>Slide Text</string>
			<key>key</key>
			<string>slideText</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sixls.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.sixls</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sixls.prefschanged</string>
			<key>key</key>
			<string>chargeView</string>
			<key>label</key>
			<string>Charging View</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.sixls</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sixls.prefschanged</string>
			<key>key</key>
			<string>wallpaperGradient</string>
			<key>label</key>
			<string>Wallpaper Shadow</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>xyz.skitty.sixls</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sixls.prefschanged</string>
			<key>key</key>
			<string>classicNotifications</string>
			<key>label</key>
			<string>Classic Notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>xyz.skitty.sixls</string>
			<key>PostNotification</key>
			<string>xyz.skitty.sixls.prefschanged</string>
			<key>key</key>
			<string>modernTime</string>
			<key>label</key>
			<string>Modern Time</string>
		</dict>
	</array>
	<key>title</key>
	<string>Six</string>
</dict>
</plist>
